/**
 * Base Styles
 */
html{
	font-family:"gotham-light";
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6,strong,b{
	font-family:"gotham-book";
}

.site-wrapper{
	padding:20px;
}

#header-container{
	text-align:center;
	margin:0 0 60px 0;

	@media( min-width:$tablet-small ){ text-align:left; }

	div.logo{
		display: inline-block;
		margin:0 0 14px 0;
		vertical-align: middle;
		position: relative;
		width:20px;
		height:40px;

		@media( min-width:$tablet-small ){ margin:0 20px 0 0; }

		a{
			position: absolute;
			left:0;
			top:0;
			width:100%;
			height: 100%;
			background-image: url( ../img/logo_1x.jpg );
			background-repeat:no-repeat;
			background-size:20px 40px;

			@include image-2x( "../img/logo_2x.jpg", 20px, 40px );
		}
	}
}

#page-container{
	text-align:center;
	
	@media( min-width:$tablet-small ){ text-align:left; }
}

#footer-container{
	border-top: 1px solid #eee;
 	padding:40px 0;
 	margin:80px 0;
}

 