/* ============================
    CFM Navigation Styles
===============================*/

.cfm_navigation
{
	ul{
		display: inline-block;
		list-style: none;
		padding:0; margin:-2px 0 0 -2px;

		li{
			float: left;
			margin:0 0 2px 2px;
			@include clearfix();

			a{
				display: inline-block;
				font-size: 12px;
				line-height: 36px;
				text-decoration: none;
				background-color:#DDD;
				color: #999;
				padding:4px 22px 0 22px;
				outline:none !important;
				border-radius: 4px;

				&:hover, &.active{
					background-color:#EEE;
					color:#AAA;
				}
			}
		}
	}
}